<div id="<%= dom_id qr_link %>">
  <p>
    <strong>Name:</strong>
    <%= qr_link.name %>
  </p>

  <p>
    <strong>Destination url:</strong>
    <%= link_to qr_link.destination_url, qr_link_resolve_path(qr_link) %>
  </p>

  <%= image_tag(url_for(qr_link.qrcode)) %>

  <p>
    <strong>Or point your QR code to</strong>
    <%= get_my_hostname + qr_link_resolve_path(qr_link) %>
  </p>

</div>
