<div id="<%= dom_id qr_link %>">
  <p>
    <strong>Name:</strong>
    <%= qr_link.name %>
  </p>

  <p>
    <strong>Destination url:</strong>
    <%= link_to qr_link.destination_url, qr_link_resolve_path(qr_link) %>
  </p>

  <%= image_tag(qr_link.qr_png_url) %>

  <p>
    <strong>Or point your QR code to</strong>
    <%= qr_link.resolve_url %>
  </p>

</div>
